body {
	background-color: gray;
	max-width:1200px;
	margin: auto;
	padding: 20px;
}

.headerDv {
    
    margin: auto;
    border: 1px solid #ffffff;
    text-align: center;
    
}

.footerDv {
    
    margin: auto;
    border: 1px solid #ffffff;
    text-align: center;
    padding: 20px;

}

.bodyContainer {
    max-width:1200px;
    height: 300px;
    border:1px solid #ffffff;
    margin: auto;
    text-align: center;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#linkedLogo {
  margin-top: 1%;
  
}
#twitterLogo {
  margin-left: 10%;
  margin-top: 1%;
  
}
#facebookLogo {
  margin-left: 10%;
  margin-top: 1%;
  
}
#instagramLogo {
  margin-left: 10%;
  margin-top: 1%;
  
}
#googlePlusLogo {
  margin-left: 10%;
  margin-top: 1%;
  
}


